# Dependencies
node_modules/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build artifacts
*.hbc
android/app/build/
android/.gradle/
ios/Pods/
ios/build/
**/.cxx/
**/build/

# Native binaries
*.so
*.dylib

# macOS
.DS_Store
*.swp
*.swo

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.iml

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# Expo prebuild
period-tracker/android/
period-tracker/ios/Pods/
period-tracker/ios/build/
